@import "tailwindcss";

@theme {
  --font-sans: 'Mona Sans';

  --color-blue-light: #4ab0ef;
  --color-blue-normal: #1da1f2;
  --color-blue-dark: #0796ef;

  --color-onBlue: #1a1919;
}

@layer base {
    h1 {
        @apply text-6xl sm:text-8xl;
    }

    h2 {
        @apply text-2xl sm:text-6xl;
    }

    h3 {
        @apply text-xl sm:text-4xl;
    }

    h4 {
        @apply text-lg sm:text-2xl;
    }

    @media (max-width: 48rem) {

        html,
        body {
            overflow-x: hidden;
        }

        body {
            position: relative;
        }
    }

    p {
        @apply text-xs lg:text-lg
    }

    html {
        font-family: 'Mona Sans';
    }

    body {
        background-color: #FAF9F6;
        color: black;
    }
}

.fade-in-05s {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

.fade-in-1s {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}

.fade-in-2s {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

.fade-in-3s {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.fade-up-05s {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both
}

.fade-up-1s {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.fade-up-2s {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.fade-up-3s {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
}

.fade-up-5s {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 5s;
    -webkit-animation-fill-mode: both
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}